#sitemenu-container {
 -webkit-background-size: 800px 200px;
    -moz-background-size: 800px 200px;
      -o-background-size: 800px 200px;
         background-size: 800px 200px;
background-image: url(gears@2x.jpeg); /* not quite 2x unfortunately */
}
